@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts..googleapiscom/css2?family=Poppins:wght@400;500;700&display=swap");

@import url("./reset.css");
@import url("./root.css");

main {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.feed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border);
  margin: 50px;
  padding: 80px;
  border-radius: 24px;
  font-family: var(--font-primary);
  color: var(--secondary-text);
  border-radius: 5px;
  height: 500px;

  width: 450px;
  background-color: var(--form-bg);
}

.feed-container .profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.feed-container .profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.post-actions {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
  margin-top: 30px;
}

.action-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-btn-blue);
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-primary);
}

.feed-container button {
  padding: var(--padding-button);
  border: transparent;
  color: var(--white);
  background-color: var(--primary-btn-blue);
  border-radius: 10px;
  cursor: pointer;
  font-family: var(--font-primary);
}
